#### LISTAS

In [2]:
aList = ['John', 33, 'Toronto', True]

In [3]:
print(aList)

['John', 33, 'Toronto', True]

In [5]:
bin_colors = ['Rojo', 'Verde', 'Azul', 'Amarillo']

In [9]:
bin_colors[1]

'Verde'

In [12]:
bin_colors[0:2]

['Rojo', 'Verde']

In [14]:
bin_colors[:2]

['Rojo', 'Verde']

In [16]:
bin_colors[2:]

['Azul', 'Amarillo']

In [18]:
bin_colors[:-1]

['Rojo', 'Verde', 'Azul']

In [20]:
bin_colors[:-2]

['Rojo', 'Verde']

In [22]:
bin_colors[-2:-1]

['Azul']

In [23]:
a = [1, 2, [100, 200, 300], 6]

In [24]:
max(a[2])

300

In [25]:
a[2][1]

200

In [26]:
for aColor in bin_colors:
    print(aColor + ' Square')

Rojo Square
Verde Square
Azul Square
Amarillo Square

In [1]:
list(filter(lambda x: x > 100, [-5, 200, 300, -10, 10, 1000]))

[200, 300, 1000]

In [2]:
list(map(lambda x: x**2, [11, 22, 33, 44, 55]))

[121, 484, 1089, 1936, 3025]

In [3]:
from functools import reduce

In [4]:
def doSum(x1, x2):
    return x1 + x2
x = reduce(doSum, [100, 122, 33, 4, 5, 6])

In [6]:
print(x)

270

In [8]:
x = range(6)

In [10]:
print(x)

range(0, 6)

In [12]:
oddNum = range(3, 29, 2)

In [13]:
oddNum

range(3, 29, 2)

#### TUPLAS

In [ ]:
bin_colors = ('Rojo', 'Verde', 'Azul', 'Amarillo')
bin_colors[1]

In [ ]:
bin_colors[2:]

In [ ]:
bin_colors[:-1]

In [ ]:
a = (1, 2, (100, 200, 300), 6)

In [ ]:
max(a[2])

In [ ]:
a[2][1]

In [ ]:
bin_colors[2:]

In [ ]:
bin_colors[:-1]

In [ ]:
a = (1, 2, (100, 200, 300), 6)

In [ ]:
max(a[2])

In [ ]:
a[2][1]

#### DICCIONARIOS

In [ ]:
bin_colors = {
    'manual_color': 'Amarillo',
    'approved_color': 'Verde',
    'refused_color': 'Rojo'
}

In [ ]:
print(bin_colors)

In [ ]:
bin_colors.get('approved_color')

In [ ]:
bin_colors['approved_color']

In [ ]:
bin_colors['approved_color'] = 'morado'

In [ ]:
bin_colors

In [16]:
bin_colors[2:]

('Azul', 'Amarillo')

In [17]:
bin_colors[:-1]

('Rojo', 'Verde', 'Azul')

In [18]:
a = (1, 2, (100, 200, 300), 6)

In [19]:
max(a[2])

300

In [20]:
a[2][1]

200

#### DICCIONARIOS

In [22]:
bin_colors = {
    'manual_color': 'Amarillo',
    'approved_color': 'Verde',
    'refused_color': 'Rojo'
}

In [23]:
print(bin_colors)

{'manual_color': 'Amarillo', 'approved_color': 'Verde', 'refused_color': 'Rojo'}

In [24]:
bin_colors.get('approved_color')

'Verde'

In [25]:
bin_colors['approved_color']

'Verde'

In [26]:
bin_colors['approved_color'] = 'morado'

In [27]:
bin_colors

{'manual_color': 'Amarillo',
 'approved_color': 'morado',
 'refused_color': 'Rojo'}

#### CONJUNTOS

In [28]:
verde = {'pasto', 'hojas'}

In [29]:
print(verde)

{'pasto', 'hojas'}

In [30]:
verde = {'pasto', 'hojas', 'hojas'}

In [31]:
print(verde)

{'pasto', 'hojas'}

In [32]:
amarillo = {'dientes de león', 'boca de incendios', 'hojas'}

In [33]:
rojo = {'boca de incendios', 'sangre', 'rosa', 'hojas'}

In [34]:
amarillo | rojo

{'boca de incendios', 'dientes de león', 'hojas', 'rosa', 'sangre'}

In [35]:
amarillo & rojo

{'boca de incendios', 'hojas'}

#### DATAFRAMES

In [54]:
import sys
!{sys.executable} -m pip install pandas

Collecting pandas
  Using cached pandas-1.1.3-cp38-cp38-manylinux1_x86_64.whl (9.3 MB)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Collecting numpy>=1.15.4
  Using cached numpy-1.19.2-cp38-cp38-manylinux2010_x86_64.whl (14.5 MB)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.19.2 pandas-1.1.3

In [55]:
import pandas as pd

In [56]:
df = pd.DataFrame([
    ['1', 'Fares', 32, True],
    ['2', 'Elena', 23, False],
    ['3', 'Steven', 40, True]
])

In [57]:
df.columns = ['id', 'nombre', 'edad', 'decision']

In [58]:
df

  id  nombre  edad  decision
0  1   Fares    32      True
1  2   Elena    23     False
2  3  Steven    40      True

In [61]:
df[['nombre', 'edad']]

   nombre  edad
0   Fares    32
1   Elena    23
2  Steven    40

In [62]:
df.iloc[:,3]

0     True
1    False
2     True
Name: decision, dtype: bool

In [63]:
df.iloc[1:3,:]

  id  nombre  edad  decision
1  2   Elena    23     False
2  3  Steven    40      True

In [64]:
df.iloc[1,:2]

id            2
nombre    Elena
Name: 1, dtype: object

In [66]:
df[df.edad > 30]

  id  nombre  edad  decision
0  1   Fares    32      True
2  3  Steven    40      True

In [68]:
df[(df.edad < 35) & (df.decision == True)]

  id nombre  edad  decision
0  1  Fares    32      True

In [69]:
import numpy as np

In [70]:
myMatrix = np.array([[11, 12, 13], [21, 22, 23], [31, 32, 33]])

In [71]:
print(myMatrix)

[[11 12 13]
 [21 22 23]
 [31 32 33]]

In [72]:
print(type(myMatrix))

<class 'numpy.ndarray'>

In [73]:
myMatrix.transpose()

array([[11, 21, 31],
       [12, 22, 32],
       [13, 23, 33]])

#### VECTOR

In [74]:
myVector = [22, 33, 44, 55]

In [75]:
print(myVector)

[22, 33, 44, 55]

In [76]:
print(type(myVector))

<class 'list'>

In [77]:
myVector = np.array([22, 33, 44, 55])

In [78]:
print(myVector)

[22 33 44 55]

In [79]:
print(type(myVector))

<class 'numpy.ndarray'>

#### PILAS

In [81]:
class Stack:
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def push(self, item):
        return self.items.append(item)
    def pop(self):
        return self.items.pop()
    def peek(self):
        return self.items[len(self.items)-1]
    def size(self):
        return len(self.items)

In [83]:
stack = Stack()
stack.push('Red')
stack.push('Green')
stack.push('Blue')
stack.push('Yellow')

In [84]:
stack.pop()

'Yellow'

In [85]:
stack.isEmpty()

False

In [86]:
stack.size()

3

#### QUEUE

In [89]:
class Queue(object):
    def __init__(self):
        self.items = []
    def isEmpty(self):
        return self.items == []
    def enqueue(self, item):
        return self.items.insert(0, item)
    def dequeue(self):
        return self.items.pop()
    def size(self):
        return len(self.items)

In [90]:
queue = Queue()
queue.enqueue('Red')
queue.enqueue('Green')
queue.enqueue('Blue')
queue.enqueue('Yellow')

In [91]:
print(queue.size())

4

In [93]:
queue.dequeue()

'Red'

In [94]:
queue.dequeue()

'Green'

In [95]:
print(queue.size())

2